{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block page %}
<div class="header">
    <h1>About</h1>
</div>
{% endblock %}
{% block content %}
<div class="content">
<h2>OUR MISSION</h2>
<p>American Flooring and Design is a company fully committed to provide the best possible service in the home remodeling industry.</br>It’s our number one mission to offer our clients outstanding customer service from the first point of contact until we finish the project.</br>
Though we specialize in flooring and kitchen work we also offer a variety of other services that will make us one stop for all you need in your remodeling project.</p>
</br>
<h2>OUR DIFFERENCE</h2>
<p>We are different from the competition because we will go above and beyond to make sure our customers get exactly what they are looking for.</br>
Our team of experienced workers will make sure that each project is done with excellence and care like no other.</p>
</div>
{% endblock %}